@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

html, body, #root {
  width: 100%;
  overflow-x: hidden; /* Side scroll bar ko khatam karne ke liye */
}