@import "tailwindcss";
* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

html, body, #root {
  width: 100%;
  overflow-x: hidden; /* Side scroll bar ko khatam karne ke liye */
}
/* 
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"] {
  -webkit-appearance: none;
  appearance: none;
} */
